---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>My Astro Learning Blog</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa blanditiis laborum officia ex porro, voluptatibus vitae in expedita voluptas asperiores, incidunt laudantium! Perferendis, deserunt. Corporis, explicabo. Itaque tenetur earum consequatur.</p>
  </body>
</html>
