---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const pageTitle = "Home Page";
const myTitle = "Developer & Learner";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>

    <style>
      .hero-desc {
        text-transform: lowercase;
      }
    </style>
  </head>
  <body>
    <Header />

    <h1>{myTitle}</h1>
    <p class="hero-desc">
      I CREATE DIGITAL EXPERIENCES THAT COMBINE CLEAN CODE (I THINK I FIRST MAKE
      IT WORK, THEN CLEAN IT AFTER LOL ◑﹏◐ WITH THOUGHTFUL DESIGN. CURRENTLY
      LEARNING & STRIVING IN THE DIRECTION OF FULL STACK. WELL, BY THE WAY I USE
      AI TOO, CUZ WHY NOT ⚆_⚆!
    </p>

    <Footer />

    <script>
			import '../scripts/menu'
		</script>
  </body>
</html>
